@font-face
{
    font-family:'haxrcorp';
    src: url('haxrcorpttf.ttf');
}

body{
	font-family: haxrcorp, monospace;
	font-size:16px;
	background-color:#F8F8F8;
	background-image: url("../img/bg_tile.jpg");
	background-repeat: repeat;
}

.maincontainer {
	width:672px;
	height:319px;
	position: absolute;
	top: 0px;
	bottom:100px;
    left: 0px;
    right: 0px;
    margin: auto;
	background-color:transparent;
}

.main {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	position: absolute;
	top: -2px;
    width: 536px;
	height: 100%;
    left: -2px;
    right: 190px;
    margin: auto;
	background-color:#FFFFFF;
	text-align:center;
}

.maincontents {
	width:100%;
	height:100%;
}

.sidebar {
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	position: absolute;
	top: -2px;
	bottom:200px;
    width: 129px;
	height: 319px;
    left: 541px;
	background-color:#FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.time {
	color:#FFFFFF;
	font-size:16px;
	position: absolute;
	top: -18px;
    width: auto;
	height: auto;
    left: 2px;
}

.welcome {
	line-height:18px;
	font-size:24px;
	position:absolute;
	top:80px;
	width:300px;
	left:0px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
}

.subtitle {
	line-height:24px;
	font-size:16px;
	position:absolute;
	top:100px;
	width:300px;
	left:1px;
	right:0px;
	margin-left:auto;
	margin-right:auto;
}

.bookmarkscontainer {
	width:auto;
	top: 140px;
	position:relative;
    display: inline-block;
}

ul {
	width:80px;
	list-style-type:none;
	float:left;
	padding-left:0px;
	padding-right:0px;
	margin-left:18px;
	margin-right:18px;
}

li {
	text-align:left;
	padding-left:3px;
	padding-right:3px;
	height:16px;
	line-height:16px;
}

li:hover {
	background-color:#eeeeee;
}

a {
	text-decoration:none;
	font-size:16px;
	height:12px;
	line-height:12px;
	color:#000000;
}

a:hover {
	text-decoration:underline;
}

.clink {
	font-size:16px;
	text-decoration:none;
	line-height: 16px;
	color:#000000;
}

.clink:hover{
	text-decoration:underline;
}

